 @font-face {
     font-family: 'StateFaceRegular';
     src: url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/stateface-regular-webfont.eot');
     src: url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/stateface-regular-webfont.woff') format('woff'),
          url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }

@font-face {
	font-family: 'icomoon';
	src:url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/icomoon.eot?alzze6');
	src:url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/icomoon.eot?alzze6#iefix') format('embedded-opentype'),
		url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/icomoon.ttf?alzze6') format('truetype'),
		url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/icomoon.woff?alzze6') format('woff'),
		url('https://s3.amazonaws.com/dewcaucus.com/cdn/fonts/icomoon.svg?alzze6#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dem:before {
	content: "\e902";
}
.icon-gop:before {
	content: "\e903";
}
.icon-us_capitol_dome:before {
	content: "\e900";
}
.icon-white_house:before {
	content: "\e901";
}



a {
	color:#3b4a6d;
}
a:hover {
	color:#b02435;
}
body {
	background-color:#efefef;
}
.navbar-brand-img {
	
	height:35px;
	margin-right:10px;
	
}
.navbar-brand {
	padding:8px;
}
.navbar-submit {
	display:inline-block;
}
.navbar-search {
	margin:10px;
	margin-bottom:5px;
}
.form-group {
	margin-bottom:10px;
}
.navbar-breadcrumb {
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	max-width:920px;
	min-width:720px;
	position:relative;
	border:1px solid #aaa;
	margin-bottom:20px;
}

.page-container {
	max-width:920px;
	margin-left:auto;
	margin-right:auto;
	border:1px solid #aaa;
	padding:10px;
	background-color:#FBFBFB;
}
.page-body {
	min-height:300px;
}
.page-heading {
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
.page-heading h3 {
	margin-top:1px;
	margin-bottom:30px;
	font-weight:bold;
	
}
.icon-gop {
	position:relative;
	top:1pt;
}
.page-footer {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	text-align:center;
	padding:10px;
	font-size:11pt;
	color:#999;
}
.page-footer-logo {
	text-align:center;
}
.page-footer-logo img {
	width:24px;
	height:24px;
	margin:5px;
}
.breadcrumb {
	margin:0px;
}
.breadcrumb-picker {
	position:absolute;
	right:0px;
	top:0px;
	width:260px;
}
.breadcrumb-breadcrumb {
	margin-right:280px;
}
.navbar-dew-line-a {
	margin-left:10px;
	margin-right:5px;
	background-color:#3b4a6d;
	height:2px;
}
.navbar-dew-line-b {
	margin-left:5px;
	margin-right:10px;
	background-color:#b02435;
	height:2px;
	margin-top:2px;
}
ul .dropdown-menu {
	text-align:right;
}
.dropdown-menu-bottom {
	text-align:left;
}