.navbar-brand-img {
	
	height:35px;
	margin-right:10px;
	
}
.navbar-brand {
	padding:8px;
}
.navbar-submit {
	display:inline-block;
}
.navbar-search {
	margin:10px;
	margin-bottom:5px;
}
.form-group {
	margin-bottom:10px;
}
.navbar-breadcrumb {
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
}
.page-body {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	min-height:400px;
}
.page-heading {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	text-align:center;
}
.page-heading h3 {
	margin-top:5px;
}
.page-footer {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	text-align:center;
	padding:10px;
	font-size:11pt;
	color:#999;
}
.breadcrumb-picker {
	float:right;
}
.breadcrumb-breadcrumb {
	width:80%;
	display:inline-block;
}