 @font-face {
     font-family: 'StateFaceRegular';
     src: url('fonts/stateface-regular-webfont.eot');
     src: url('fonts/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('fonts/stateface-regular-webfont.woff') format('woff'),
          url('fonts/stateface-regular-webfont.ttf') format('truetype'),
          url('fonts/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
 }



a {
	color:#3b4a6d;
}
a:hover {
	color:#b02435;
}

.navbar-brand-img {
	
	height:35px;
	margin-right:10px;
	
}
.navbar-brand {
	padding:8px;
}
.navbar-submit {
	display:inline-block;
}
.navbar-search {
	margin:10px;
	margin-bottom:5px;
}
.form-group {
	margin-bottom:10px;
}
.navbar-breadcrumb {
	margin-top:-10px;
	margin-left:auto;
	margin-right:auto;
	max-width:920px;
}
.page-body {
	margin-left:auto;
	margin-right:auto;
	max-width:920px;
	min-height:300px;
}
.page-heading {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	text-align:center;
}
.page-heading h3 {
	margin-top:0px;
	margin-bottom:20px;
	
}
.icon-gop {
	position:relative;
	top:1pt;
}
.page-footer {
	margin-left:auto;
	margin-right:auto;
	max-width:1024px;
	text-align:center;
	padding:10px;
	font-size:11pt;
	color:#999;
}
.page-footer-logo {
	text-align:center;
}
.page-footer-logo img {
	width:24px;
	height:24px;
	margin:5px;
}
.breadcrumb-picker {
	float:right;
}
.breadcrumb-breadcrumb {
	width:74%;
	display:inline-block;
}
.navbar-dew-line-a {
	margin-left:10px;
	margin-right:5px;
	background-color:#3b4a6d;
	height:2px;
}
.navbar-dew-line-b {
	margin-left:5px;
	margin-right:10px;
	background-color:#b02435;
	height:2px;
	margin-top:2px;
}